http://kavinb.com, http://www.kavinb.com {
  encode zstd gzip
  redir /money /money/ 308
  redir /workout /workout/ 308
  redir /health /health/ 308
  handle_path /money/* {
    reverse_proxy money_api:8000
  }
  handle_path /workout/api/* {
    reverse_proxy workout_api:8000
  }
  handle_path /workout/* {
    reverse_proxy workout_api:8000
  }
  handle_path /health/* {
    reverse_proxy health_api:8000
  }
  handle {
    respond "kavinb.com online. Money is at /money. Workout is at /workout. Health is at /health." 200
  }
}
